// Mixin
@mixin borda-arredondada($raio: $raio) {
  -webkit-border-radius: $raio;
  border-radius: $raio;
}

@function multiplica-pela-fonte($multiplicador) {
  @return round($multiplicador * $tamanho-da-fonte-padrao);
}

// subtituido pelo placeholder
// @mixin sombra-padrao {
//   -webkit-box-shadow: 0 2px 6.65px 0.35px rgba(0, 0, 0, 0.3);
//   box-shadow: 0 2px 6.65px 0.35px rgba(0, 0, 0, 0.3);
// }

// subtituido pelo placeholder
// @mixin image-replacement {
//   text-indent: -9999px;
//   overflow: hidden;
//   background-repeat: no-repeat;
// }

// extend
// .sombra-padrao {
//   -webkit-box-shadow: 0 2px 6.65px 0.35px rgba(0, 0, 0, 0.3);
//           box-shadow: 0 2px 6.65px 0.35px rgba(0, 0, 0, 0.3);
// }

// placeholder
%sombra-padrao {
  -webkit-box-shadow: 0 2px 6.65px 0.35px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 6.65px 0.35px rgba(0, 0, 0, 0.3);
}

%image-replacement {
  text-indent: -9999px;
  overflow: hidden;
  background-repeat: no-repeat;
}

@import "compass/css3";