// Variaveis
$cor-padrao: lighten(rgb(238, 161, 17), 10%);
$cor-auxiliar: darken(#52e, 25%);
$cor-header: #1AE;
$raio: 0.3em;
$ponto-de-quebra: 950px;
$mq-mobile: "(max-width: 950px)";
$tamanho-da-fonte-padrao: 16px;